<?xml version="1.0"?>
<robot name="drone" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <gazebo>
        <plugin filename="libTeensyEmulator.so" name="TeensyEmulator">
            <damping>0.1</damping>
            <gravity>9.81</gravity>
            <thrust_command>9.81</thrust_command>
            <update_rate>500</update_rate>
            <angular_velocity>0 0 0</angular_velocity>
            <velocity>0 0 0</velocity>
        </plugin>
    </gazebo>
</robot>