<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="motor_assembly" params="number x y">
        <link name="motor${number}">
            <visual>
                <origin xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://drone_description/meshes/motor.stl"/>
                </geometry>
                <material name="bright_orange">
                    <color rgba="1.0 0.45 0.05 1.0"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0.0135" rpy="0 0 0"/>
                <geometry>
                    <box size="0.0225 0.0225 0.027"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.047"/>
                <inertia ixx="5.7464844e-06" ixy="0.0" ixz="0.0"
                        iyy="5.7464844e-06" iyz="0.0" izz="4.4429688e-06"/>
            </inertial>
        </link>

        <joint name="frame_to_motor${number}" type="fixed">
            <parent link="base_link"/>
            <child link="motor${number}"/>
            <origin xyz="${x} ${y} 0.0385"/>
        </joint>

        <link name="propeller${number}">
            <visual>
                <origin xyz="0 0 0"/>
                <geometry>
                    <mesh filename="package://drone_description/meshes/propeller.stl"/>
                </geometry>
                <material name="matte_black">
                    <color rgba="0.05 0.05 0.05 1.0"/>
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <box size="0.265 0.04 0.01"/>
                </geometry>
            </collision>
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="0.008"/>
                <inertia ixx="1.00e-07" ixy="0.0" ixz="0.0"
                        iyy="1.00e-07" iyz="0.0" izz="2.7526827e-05"/>
            </inertial>
        </link>

        <joint name="motor_to_propeller${number}" type="fixed">
            <parent link="motor${number}"/>
            <child link="propeller${number}"/>
            <origin xyz="0 0 0.0295"/>
        </joint>
    </xacro:macro>

</robot>